<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Clarion</title>
    <style type="text/css">
      * {
        font-family: 'Avenir Next', sans-serif;
        font-size: 16px;
      }
      pre, code {
        font-family: 'Monaco', monospace;
      }
      pre, pre code {
        width: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 14px;
      }
      strong {
        font-weight: bold;
      }
      small {
        font-size: 12px;
      }

      .center {
        text-align: center;
      }

      body {
        text-align: center;
        background-color: white;
      }

      .hidden {
        display: none;
      }

      .container {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        text-align: left;
        padding-top: 12px;
      }

      .box, .form, .notice, .error {
        border-radius: 3px;
        margin-bottom: 12px;
        padding: 8px 20px;
      }

      .box {
        padding: 12px 20px;
        border: 1px solid #ddd;
        background-color: white;
      }

      .notice {
        border: 1px solid #D6E9C6;
        background-color: #DFF0D8;
        color: #3C763D;
      }

      .error {
        border: 1px solid #EBCCD1;
        background-color: #F2DEDE;
        color: #A94442;
      }


      .box input, .box button {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        padding: 8px 4px;

        border: 1px solid #e9e9e9;
        border-radius: 3px;
      }

      input[type="submit"], button {
        font-size: 16px;
        background-color: #337AB7;
        color: white;
      }

      input[type="submit"]:hover, button:hover {
        background-color: #286090;
      }

      .credit {
        text-align: center;
      }

      .credit, .credit * {
        color: #767676;
        font-size: 12px;
      }
    </style>
    <script src="/u2f-api.js"></script>
  </head>

  <body>
    <div class="container">
      <% notice ||= nil; error ||= nil %>
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>

      <% if error %>
        <div class="error"><%= error %></div>
      <% end %>

      <div class="box">
        <%== yield %>
      </div>

      <div class="credit">
        Powered by <a href="https://github.com/sorah/clarion">sorah/clarion</a>
      </div>
    </div>

  <body>
  </body>
