<pre><code><%= @key.to_json(:all) %></code></pre>

<button id="start_authn_button">Create Authn</button>
<button class='hidden' id="open_authn_button">Open Authn</button>
<pre>
<code id="authn_test" data-key='<%= @key.to_json(:all) %>'>
</code>
</pre>

<script src="/test.js"></script>
